
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');


.font-bartle {
  font-family: "BBH Sans Bartle", sans-serif;
}

.font-bogle {
  font-family: "BBH Sans Bogle", sans-serif;
}


body {
  margin: 0;
  padding: 0;
  background: url('MAINCOVER.jpg') center/cover no-repeat;
  font-family: "BBH Sans Hegarty", sans-serif;
  height: 100vh;
  position: relative;
}


.overlay {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}


.logo {
  position: absolute;
  top: 40px;
  left: 60px;
  font-size: 40px;
  font-weight: 900;
  color: white;
  letter-spacing: 4px;
}


.hero {
  position: relative;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  z-index: 2;
}


.left h1 {
  font-size: 110px;
  color: white;
  font-weight: 900;
  line-height: 0.95;
}


.btn {
  display: inline-block;
  margin-top: 40px;
  padding: 18px 60px;
  background: #b8481e;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 40px;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.08);
}


.right {
  display: flex;
  justify-content: center;
  align-items: center;
}


.bslogo {
  width: 420px;
  border-radius: 30px;
}

